fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-multipart
langchain
langchain-community
langchain-core
chromadb
faster-whisper
piper-tts
pymupdf
requests
pytesseract
Pillow
ragas
pandas
langchain-google-vertexai
langchain-openai
flashrank
langchain-ollama
python-jose[cryptography]
passlib[argon2]
argon2-cffi
alembic
python-docx
ddgs
httpx
